*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
   cursor: pointer;
}

/* <!-- header part start--> */

.box-container{
    width: 100%;
}
.logo {
    width: 250px;
    height: 50px;
}

@media screen and (min-width: 360px) and (max-width: 767px) {
.logo {
    margin: 13px 158px 4px 0px;
    width: 155px;
    height: 31px;
    }
}
 

.menu{
    display: flex;
    justify-content: end;
   
}
@media screen and (min-width: 360px) and (max-width: 767px) {
.menu{
    display: none;
    justify-content: end;
    background-color:rgb(201, 150, 150);
    color: rgb(226, 219, 219);
    
}   
.range{
    display: block;
    position: absolute;
    width: 100%;
   }
}
.menu li{
    text-decoration: none;
    list-style: none;
    padding: 15px 20px;
    color: rgb(3, 6, 8);
    
}
@media screen and (min-width: 360px) and (max-width: 767px) {
    .menu li{
        padding: 10px;
       
    }
    .menu a {
        
        font-size: 25px;
    
    }
}
.menu a , i{
    text-decoration: none;
    color: rgb(6, 10, 14);
    font-size: 22px;
}

.menu a:hover{
    color:#f7444e ;
}
.menu i:hover{
    color:#f7444e ;
}
.bar{
    height: 4px;
    width: 25px;
    background-color: black;
    display: none;
    border-radius: 5px;
    transition: 0.3s ease;
    margin: 5px;
  
}
@media screen and (min-width: 360px) and (max-width: 767px) {
.bar{
    height: 4px;
    width: 25px;
    background-color: black;
    display: block;
    border-radius: 5px;
    transition: 0.5s ease;
    margin: 4px;
    
    }
}
.image-logo{
    display: flex;
    justify-content: space-between;
    padding: 15px 25px 15px 222px;
}
@media screen and (min-width: 360px) and (max-width: 767px) {
.image-logo{
    display: block;
    justify-content: space-between;
    padding: 0 ;
  }
}
#menu-bar {
    position: absolute;
    left: 82%;
    top: 15px;
}

/* <!-- header part end --> */

/* start banner part */

.banner{
    background-image: url(images/slider-bg.jpg);
    height: 800px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}
@media screen and (min-width: 360px) and (max-width: 767px) {
.banner{
    background-image: url(images/slider-bg.jpg);
    height: 295px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    
    }
}
.sale-offer{
    font-size: 60px;
    line-height: 58px;
}
@media screen and (min-width: 360px) and (max-width: 767px) {
.sale-offer{
    font-size: 27px;
    line-height: 30px;
    }
}
.sale-section{
    padding: 130px 0px 0px 182px;
    width: 533px;
    margin: 0px 0px 0px 60px;
    line-height: 20px;
}
@media screen and (min-width: 360px) and (max-width: 767px) {
.sale-section{
    font-size: 16px;
    width: 237px;
    margin: 0px 0px 0px 14px;
    padding: 12px;
    } 
}

.shop-now{
    padding: 15px;
    font-size: 20px;
    background-color: #f7444e;
    color: white;
    border: #f7444e;
    cursor: pointer;
}  
@media screen and (min-width: 360px) and (max-width: 767px) { 
.shop-now{
    padding: 10px;
    font-size: 13px;
    background-color: #f7444e;
    color: white;
    border: #f7444e;
    cursor: pointer;
    } 
}
/* banner part end */

/* <!-- Why Shop With us section --> */

.container{
    padding-right: 0px;
    text-align: center;
}

@media screen and (min-width: 360px) and (max-width: 767px) {
.container {
    width: 100%;
    }
}
.box-items {
    width: 100%;
    font-size: 40px;
    padding: 45px
}

@media screen and (min-width: 360px) and (max-width: 767px) {
.box-items {
    width: 100%;
    font-size: 30px;
    padding: 0px;
    }
}
.boxes {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 25px;
    padding: 30px 160px 0px 138px;
  
}


@media screen and (min-width: 360px) and (max-width: 767px) {
.boxes {
    display: block;
    padding: 20px 0px 0 2px;
    margin: 0 0px 0 16px;
    }
} 

 .box.fa-solid, .fas {
    color: white;
}

.box-text{
    width: 325px;
    height: 200px;
    background-color: #002c3e;
    color: white;
    font-size: 18px; 
    border-radius: 12px; 
    padding: 42px 15px 0px 15px;
}

@media screen and (min-width: 360px) and (max-width: 767px) {
.box-text{
    width: 300px;
    height: 200px;
    background-color: #002c3e;
    color: white;
    font-size: 18px; 
    border-radius: 12px; 
    padding: 40px 30px 0px 30px;
    margin: 10PX;

   }
}
.shop::before {
    position: relative;
    padding-right: 40px;
    content: "";
    background-color: #f7444e;
    font-size: 3px;
    left: 260px;
    top: 19px;
    padding-bottom: 1px;
}

@media screen and (min-width: 360px) and (max-width: 767px) {
.shop::before {
    position: relative;
    padding-right: 25px;
    content: "";
    background-color: #f7444e;
    font-size: 4px;
    left: 138px;
    top: 14px;
    }
}

/* <!-- Why Shop With us section end--> */

/* <!-- New Arrivals section start--> */

.image-arrival{
    background-image: url(images/arrival-bg.png);
    height: 760px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}
@media screen and (min-width: 360px) and (max-width: 767px) {
.image-arrival{
    background-image: url(images/arrival-bg.png);
    width: 100%;
    height: 208px;
    background-size: contain;
    background-repeat: no-repeat;
   
    }
}     
.arrivals {
    float: right;
    width: 500px;
    margin:85px 165px 0px 0px;
    padding: 95px 150px 0px 0px;

}
@media screen and (min-width: 360px) and (max-width: 767px) {
.arrivals {
    float: right;
    width: 200px;
    margin: 0px 0px 0px 0px;
    padding: 10px 0px 0px 0px;
    font-size: 13px;
    }
}
.new-arrival{
    font-size: 45px;
}
@media screen and (min-width: 360px) and (max-width: 767px) {
.new-arrival{
    font-size: 25px;
    }
}
/* <!-- New Arrivals section end --> */


/* <!-- Our Products Section --> */

.products {
    width: 100%;
}

.our-products {
    text-align: center;   
}

@media screen and (min-width: 360px) and (max-width: 767px) {
.our-product {
    text-align: center;
    padding: 60px;
    }
}

.our {
    font-size: 60px;
    text-align: center;
    padding: 30px;
}

@media screen and (min-width: 360px) and (max-width: 767px) {
.our {
    font-size: 35px;
    text-align: center;
    padding: 20px;
    }
}

.our::after {
    content: "Products";
    color: #f7444e;
}

.image-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 200px);
    gap: 20px 170px;
    padding-left: 7%;
}

@media screen and (min-width: 360px) and (max-width: 767px) {
.image-container {
     display: block;
     padding: 10px;
    }
}

.product img {
    width: 250px;
    height: 230px;
}

@media screen and (min-width: 360px) and (max-width: 767px) {
.product img {
    width: 200px;
    height: 200px;
    }
}

.product {
    width: 350px;
    padding: 25px;
    background-color: #edebeb;
}

@media screen and (min-width: 360px) and (max-width: 767px) {
.product {
    margin-bottom: 12px;
    width: 338px;
    background-color: #edebeb;
    padding: 10px;
    }
}

.images-text {
    margin-top: 34px;
    display: grid;
    grid-template-columns: auto auto;
    gap: 70px;
}

@media screen and (min-width: 360px) and (max-width: 767px) {
.images-text {
    margin-top: 20px;
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
    }
}

.View-All-products {
    font-size: 20px;
    padding: 12px;
    background-color: #f7444e;
    color: white;
    border: #f7444e;
    cursor: pointer;
    text-align: center;
}

.view-product {
    width: 198px;
    margin: 23px auto 23px auto;
}
@media screen and (min-width: 360px) and (max-width: 767px) {
.view-product {
    width: 198px;
    margin: 0px auto 23px auto;
    }
}
/* <!-- Our Products Section End --> */

/* subscribe part start  */

.subscribe-section{
    background-color: #d2c9c9;
    text-align: center;
    padding: 25px;
    font-size: 40px;
}
@media screen and (min-width: 360px) and (max-width: 767px) {
.subscribe-section{
    background-color: #d2c9c9;
    text-align: center;
    padding: 25px;
    font-size: 40px;  
   
    }
}
.subscribe{
    font-size: 22px;
}
.email{
    padding: 11px;
    width: 391px;
    border-radius: 56px;
    border: 1px solid;
}

@media screen and (min-width: 360px) and (max-width: 767px) {
.email{
    padding: 11px;
    width: 205px;
    border-radius: 56px;
    border: 1px solid;
    }
}
.sub{
    width: 230px;
    border-radius: 56px;
    padding: 10px;
    background-color: #f7444e;
    color: white;
    border: #f7444e;
    cursor: pointer;
}  
/* subscribe part end */

/* coustomer section start */

.coustomer {
    width: 100%;
    height: 370px;
    text-align: center;
    padding: 20px;
    font-size: 30px;
}
@media screen and (min-width: 360px) and (max-width: 767px) {
.coustomer {
    width: 100%;
    height: 475px;
    text-align: center;
    padding: 10px;
    }
}
.customer-image{
    width: 150px;
    border-radius: 116px;  
}
button.arrow1{
    border: 1px solid;
    border-color: #f7444e;
    height: 34px;
    background-color: #f7444e;
    border-radius: 108px;
    position: relative;
    bottom: 22%;
    right: 5%;
}

i.fa-solid.fa-arrow-left {
    color: white;
    padding: 7px;
}
button.arrow2{
    border: 1px solid;
    border-color: #f7444e;
    height: 34px;
    background-color: #f7444e;
    border-radius: 108px;
    position: relative;
    bottom: 22%;
    left: 5%;
}
i.fa-solid.fa-arrow-right {
    color: white;
    padding: 7px;
}

.anna-trover{
    font-size: 20px;
}
.anna-customer{
    font-weight: lighter;
    font-size: 20px;
}

.customer-para{
    width: 100%;
    text-align: center;
    padding: 15px 0px 0px 0px;
    font-size: 16px;
 }
 @media screen and (min-width: 360px) and (max-width: 767px) {
 .customer-para{
     width: 100%;
     text-align: center;
     padding: 34px;
     margin-left: 0px;
     font-weight: 500;
     }
 }
/* coustomer section start */

/* <!--  Footer Section Start --> */

.contact-container {
    background-color: aliceblue;
    width: 100%;
    padding: 70px;
}

@media screen and (min-width: 360px) and (max-width: 767px) {
.contact-container{
    background-color: aliceblue;
    width: 100%;
    padding: 20px;
    font-size: 15px;
    }
}  
.row{
   display: grid;  
   grid-template-columns: auto auto auto auto;
}
@media screen and (min-width: 360px) and (max-width: 767px) { 
.row{
    display: block;  
    } 
}
.row-address .address p{
    padding: 10px 0 0 0;
}
@media screen and (min-width: 360px) and (max-width: 767px) { 
.row-address .address p{
    padding: 6px 0 0 0;
      }
}

.row-items li, a{
   list-style: none;
   text-decoration: none;
   color:black ;
   padding: 3px 0 0 0;
   font-size: 17px;
}
@media screen and (min-width: 360px) and (max-width: 767px) { 
.row-items li, a{
    list-style: none;
    text-decoration: none;
    color:black ;
    padding: 2px 0 0 0;
    font-size: 15px;
   }
 }
 @media screen and (min-width: 360px) and (max-width: 767px) { 
.row-items {
  padding: 14px 0 7px 0;
    }
}
.footer-image {
    width: 180px;
    height: 40px;
}
@media screen and (min-width: 360px) and (max-width: 767px) {
.footer-image {
    width: 100px;
    height: 30px;
    }
}

.submit {
    border: 2px solid #f7444e;
    background-color: #f7444e;
    color: white;
    padding: 0px 5px 0 5px;
   
}
@media screen and (min-width: 360px) and (max-width: 767px) {
.submit {
    border: 2px solid #f7444e;
    background-color: #f7444e;
    color: white;
    width: 67px;
   }
}
.row-items-input p{
    padding: 10px 0 10px 0px;

}
@media screen and (min-width: 360px) and (max-width: 767px) {
.row-items-input {
    padding: 10px 0 5px 0px;
   }
}
/* <!--  Footer Section end --> */

 /* copyright start */

.copyright{
    padding: 30px;
    font-size: 15px;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    }
@media screen and (min-width: 360px) and (max-width: 767px) {
.copyright{ 
    font-size: 12px;
    padding: 46px
    }  
}

 /* copyright start */